name: Build and Deploy

on:
  push:
    branches:
      - alpha.lambdax.san
      - playground.lambdax.ai
    paths-ignore:
      - '**.md'
      - 'docs/**'

env:
  EC2_USER: ${{ secrets.EC2_USER }}
  GIT_REPO_URL: "https://github.com/aushlya95/alpha.lambdax.san.git"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set variables
        run: |
          if [[ $GITHUB_REF =~ .*-alpha$ ]]; then
            echo "EC2_HOSTNAME=${{ secrets.EC2_ALPHA_HOSTNAME }}" >> "$GITHUB_ENV"
          elif [[ $GITHUB_REF =~ .*-playground$ ]]; then
            echo "EC2_HOSTNAME=${{ secrets.EC2_PLAYGROUND_HOSTNAME }}" >> "$GITHUB_ENV"
          else
            echo "EC2_HOSTNAME=" >> "$GITHUB_ENV"
          fi
          echo "EC2_USER=${EC2_USER}" >> "$GITHUB_ENV"
          echo "GIT_REPO_URL=${GIT_REPO_URL}" >> "$GITHUB_ENV"
          echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> "$GITHUB_ENV"

      - name: SSH into server and copy files
        if: env.EC2_HOSTNAME != ''
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY_VERTEX }}" > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa

          # SSH into the server
          ssh -o "StrictHostKeyChecking no" -i ~/.ssh/id_rsa ${{ env.EC2_USER }}@${{ env.EC2_HOSTNAME }} "
            git clone $GIT_REPO_URL /tmp/repo
            cp -r /tmp/repo/$BRANCH_NAME/* /tmp/
          "
